.hero {
  background-color: #2f303a;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4) 100%,
      red 0%
    ),
    url(../images/mobile-web/background@mobile-1x.webp);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4) 100%,
        red 0%
      ),
      url(../images/mobile-web/background@mobile-2x.webp);
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4) 100%,
        red 0%
      ),
      url(../images/tablet/background@tablet-1x.webp);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.4) 100%,
          red 0%
        ),
        url(../images/tablet/background@tablet-2x.webp);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4) 100%,
        red 0%
      ),
      url(../images/desktop-web/background@desktop-1x.webp);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.4) 100%,
          red 0%
        ),
        url(../images/desktop-web/background@desktop-2x.webp);
    }
  }
  &__box {
    padding: 118px 0;
    flex-wrap: wrap;
    @include flexbox($direction: column);
    @media screen and (min-width: 1200px) {
      padding: 200px 0;
    }
  }

  &__title {
    color: #fff;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    line-height: 42px; /* 136.364% */
    letter-spacing: 1.56px;
    text-transform: uppercase;
    max-width: 360px;
    width: 100%;
    @media screen and (min-width: 1200px) {
      max-width: 696px;
      font-size: 44px;
      line-height: 60px; /* 136.364% */
      letter-spacing: 2.64px;
    }
  }

  &__bt {
    @include position($place: relative);
    @extend %button;
    margin-top: 30px;
    padding: 10px 24px;
    @media screen and (min-width: 1200px) {
      margin-top: 40px;
      padding: 10px 32px;
    }
    &::after {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 100%;
      border: 6px solid $active-color;
      @include position($up: 50%, $left: 50%);
      transform: translate(-50%, -50%);
      animation: ring 1.5s infinite;
    }
  }
}

.advantages {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
  &__points {
    @include flexbox($space: 30px, $direction: column, $align: normal);
    @media screen and (min-width: 768px) {
      @include flexbox($space: 30px, $align: normal);
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
      @include flexbox($space: 30px, $align: normal);
    }
  }

  &__point {
    flex-basis: calc((100% - 90px) / 4);
    max-width: 450px;
    @include flexbox($direction: column);
    @media screen and (min-width: 768px) {
      @include flexbox($align: flex-start, $direction: column);
      flex-basis: calc((100% - 90px) / 2);
    }
    @media screen and (min-width: 1200px) {
      display: block;
      flex-basis: calc((100% - 90px) / 4);
    }
  }

  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  &__title {
    color: $title-color;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 14px;
  }

  &__text {
    color: $text-color;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    max-width: 450px;
  }
}

.activity {
  display: none;
  padding: 94px 0;
  @media screen and (min-width: 1200px) {
    display: block;
  }
  &__title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }

  &__points {
    @include flexbox($space: 30px);
  }

  &__point {
    flex-basis: calc((100% - 60px) / 3);
    @include position($place: relative);
    max-width: 370px;
  }

  &__text {
    @include position($up: 224px);
    color: #fff;
    text-align: center;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    height: 16px;
    width: 100%;
    padding: 27px 0;
  }
  &__img {
    width: 100%;
    height: auto;
  }
}

.team {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
  background-color: #f5f4fa;
  &__title {
    @extend %title;
    @media screen and (min-width: 1200px) {
      color: $title-color;
      text-align: center;
      font-size: 36px;
      letter-spacing: 1.08px;
      margin-bottom: 50px;
    }
  }

  &__points {
    @include flexbox($space: 30px, $direction: column);
    @media screen and (min-width: 768px) {
      @include flexbox($space: 30px);
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
      @include flexbox($space: 30px);
    }
  }

  &__point {
    max-width: 450px;
    height: auto;
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
    padding-bottom: 36px;
    flex-basis: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    @media screen and (min-width: 768px) {
      padding-bottom: 24px;
      flex-basis: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
      padding-bottom: 30px;
      flex-basis: calc((100% - 90px) / 4);
    }
  }

  &__img {
    width: 100%;
    height: auto;
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1200px) {
    }
  }

  &__name {
    color: $title-color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  &__text {
    color: $text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
  }

  &__link {
    background-color: transparent;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    @include flexbox();
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: $active-color;
    }
    &:hover .team__icon,
    &:focus .team__icon {
      fill: #ffffff;
    }
  }
  &__icon {
    fill: #afb1b8;
    width: 20px;
    height: 20px;
  }
  &__list {
    @include flexbox($space: 10px);
    margin-top: 16px;
  }
}

.client {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
  &__title {
    margin: 0 auto;
    @extend %title;
    @media screen and (min-width: 1200px) {
      color: #212121;
      text-align: center;
      font-family: Roboto;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1.08px;
    }
  }

  &__points {
    margin-top: 30px;
    @include flexbox($space: 30px);
    flex-wrap: wrap;
    @media screen and (min-width: 1200px) {
      margin-top: 50px;
      @include flexbox($space: 30px);
      flex-wrap: nowrap;
    }
  }

  &__point {
    max-width: 226px;
    width: 100%;
    flex-basis: calc((100% - 30px) / 2);
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 3);
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 150px) / 1);
    }
  }

  &__link {
    height: 92px;
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1200px) {
    }
    @include flexbox();
    border-radius: 4px;
    border: 1px solid #afb1b8;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border-radius: 4px;
      border: 1px solid $active-color;
    }
    &:hover .client__icon,
    &:focus .client__icon {
      fill: $active-color;
    }
  }

  &__icon {
    fill: $text-color;
    width: 106px;
    height: 60px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
