.footer {
  background-color: #2f303a;
  padding: 60px 0;
  &__container{
    @media screen and (min-width: 768px) {
      @include flexbox($align: flex-start);
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
      @include flexbox($align: flex-start);
    }
  }
 &__box {
  @include flexbox($direction: column);
  @media screen and (min-width: 768px) {
    @include flexbox( $direction: column);
  }
  @media screen and (min-width: 1200px) {
    @include flexbox($align: flex-start, $direction: column); 
  }
  }
  
 &__logo {
    color: $active-color;
    font-family: $logo-font;
    font-size: 26px;
    letter-spacing: 0.78px;
    text-decoration: none;
  }
  
 &__studio {
    color: #fff;
  }
}



.address {
  font-style: normal;
  margin-top: 20px;
  &__points {
    @include flexbox($space: 8px, $direction: column  );
    @media screen and (min-width: 768px) {
      @include flexbox($space: 8px, $direction: column);
    }
    @media screen and (min-width: 1200px) {
      @include flexbox($space: 9px, $direction: column, $align: flex-start);
    }
  }
  
  &__locate {
    color: #fff;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
  }
  
  &__link {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
  }
}



.social {
  margin-top: 60px;
  @include flexbox($direction: column);
  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-left: 165px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 70px;
    margin-right: 93px;
    @include flexbox($direction: column, $align: flex-start);
  }
  &__title {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  &__points {
    @include flexbox($space: 10px);
  }
  
  &__link {
    @include flexbox();
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    outline: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: $active-color;
    }
  }
  
  &__icon {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }
}



.sending {
  margin-top: 60px;
  @include flexbox($direction: column);
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    @include flexbox($direction: column, $align: flex-start);
  }
  &__title {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  &__form {
    @include flexbox($space: 20px, $direction: column);
    @include position($place: relative);
    @media screen and (min-width: 1200px) {
      @include flexbox($space: 12px);
    }
  }
  
  &__input {
    width: 358px;
    height: 46px;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
  }
  
  &__sub {
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    @extend %button;
    padding: 10px 62px 10px 28px;
  }
  
  &__icon {
    width: 24px;
    height: 24px;
    fill: #fff;
    @include position($up: 83px, $left: 240px);
    @media screen and (min-width: 1200px) {
      @include position($up: 13px, $left: 528px);
    }
  }
}


