.backdrop {
  background: rgba(0, 0, 0, 0.2);
  @include position($place: fixed);
  right: 0;
  bottom: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  @include position($up: 50%, $left: 50%);
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    @include flexbox($direction: column);
  padding-top: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &__close {
    @include position($up: 8px, $left: 490px);
    @include flexbox();
    outline: none;
    &:hover > .modal__cross {
      fill: $active-color;
    }
    &:focus > .modal__cross {
      fill: $active-color;
    }
  }
  
  &__cross {
    width: 18px;
    height: 18px;
    fill: #000000;
    @include position($up: 6px, $left: 6px);
    z-index: 2;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__ellipse {
    width: 30px;
    height: 30px;
    fill: #fff;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    @include position();
    z-index: 1;
  }
  
  &__title {
    color: $title-color;
    text-align: center;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
  }
  
  &__form {
    @include flexbox($space: 10px, $direction: column);
  }
  
  &__label {
    @include flexbox($direction: column, $align: flex-start);
    @include position($place: relative);
    &:hover > .modal__icon {
      fill: $active-color;
    }
    &:hover > .modal__input {
      border: 1px solid $active-color;
    }
  }
  
  &__sp {
    color: $text-color;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    margin-bottom: 4px;
  }
  
  &__input {
    width: 406px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus ~ &__icon {
      fill: $active-color;
    }
    &:focus {
      border: 1px solid $active-color;
    }
  }
  
  &__icon {
    width: 18px;
    height: 18px;
    fill: $title-color;
    @include position($up: 30px, $left: 12px);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__area {
    width: 432px;
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 16px 12px;
    padding-bottom: 96px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      border: 1px solid $active-color;
    }
    
    &:focus-visible {
      border: 1px solid $active-color;
    }
  }
  
  
  
  &__conditions {
    margin-top: 10px;
    @include flexbox($space: 7px);
  }
  
  &__check {
    width: 16px;
    height: 15px;
    fill: $title-color;
  }
  
  &__mailing {
    color: $text-color;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
  }
  
  &__link {
    color: $active-color;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
  
  &__sub {
    @extend %button;
    width: 200px;
    height: 50px;
    border: 0;
    margin-top: 20px;
  }
}



.is-hidden {
  pointer-events: none;
  opacity: 0;
  & > .modal {
    transform: translate(-50%, -50%) scale(0);
  }
}


