.filter {
  @include padding($top: 60px, $bottom: 46px);
  @media screen and (min-width: 768px) {
    @include padding($top: 60px, $bottom: 14px);
  }
  @media screen and (min-width: 1200px) {
    @include padding($top: 100px, $bottom: 56px);
  }
  &__points {
    @include flexbox($space: 8px, $justifying: flex-start);
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
      @include flexbox($space: 8px);
      flex-wrap: nowrap;
      max-width: 575px;
      height: 54px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    @media screen and (min-width: 1200px) {
      @include flexbox($space: 8px);
      flex-wrap: nowrap;
      max-width: 575px;
      height: 54px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__bt {
    color: $title-color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.48px;
    border-radius: 4px;
    background-color: #f5f4fa;
    padding: 6px 22px;
    outline: none;
    transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border-radius: 4px;
      background-color: $active-color;
      color: #fff;
      box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    }
  }
}

.product {
  padding-bottom: 94px;
  &__points {
    @include flexbox($space: 30px, $direction: column);
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
      @include flexbox($space: 30px, $justifying: flex-start);
    }
    @media screen and (min-width: 1200px) {
      @include flexbox($space: 30px);
    }
  }

  &__point {
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 2);
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 60px) / 3);
    }
  }

  &__link {
    width: 100%;
    max-width: 450px;
    height: 404px;
    @include position($place: relative);
    @include flexbox(
      $direction: column,
      $align: flex-start,
      $justifying: flex-start
    );
    @media screen and (min-width: 768px) {
      max-width: 354px;
      height: 440px;
      @include flexbox(
        $direction: column,
        $align: flex-start,
        $justifying: flex-start
      );
    }
    @media screen and (min-width: 1200px) {
      max-width: 370px;
      height: 404px;
      @include flexbox(
        $direction: column,
        $align: flex-start,
        $justifying: flex-start
      );
    }
    z-index: 0;
    outline: none;
    border: 1px solid #eee;
    background-color: #fff;
    padding-bottom: 20px;
    flex-basis: calc((100% - 60px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    }
  }
  &__link:hover &__info {
    opacity: 1;
    transform: translate(0);
  }
  &__box {
    margin-top: 20px;
    padding-left: 24px;
  }

  &__img {
    @extend %photo;
    @media screen and (min-width: 768px) {
      max-width: 354px;
      height: 294px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 370px;
      height: 294px;
    }
  }

  &__title {
    color: $title-color;
    font-size: 18px;
    line-height: 36px; /* 200% */
    letter-spacing: 1.08px;
    margin-bottom: 4px;
  }

  &__text {
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.48px;
  }

  &__info {
    background: rgba(33, 150, 243, 0.9);
    width: 100%;
    max-width: 322px;
    height: 168px;
    padding: 0;
    display: block;
    opacity: 0;
    @include position();
    z-index: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(0, 50%);
    @media screen and (min-width: 768px) {
      padding: 49px 24px 77px 24px;
      max-width: 291px;
    }
    @media screen and (min-width: 1200px) {
      padding: 63px 24px;
    }
  }

  &__infotext {
    max-width: 450px;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.54px;
  }
}
