@keyframes scale{
    0%{
  width: 0%;
    }
    100%{
  width: 100%;
    }
  }

  @keyframes ring {
    0% {
      width: 20px;
      height: 20px;
      opacity: 1;
    }
    100% {
      width: 250px;
      height: 250px;
      opacity: 0;
    }
  }