%title {
    color: $title-color;
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}


%button{
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    border-radius: 4px;
    background-color: $active-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

%photo{
    height:294px;
    width:370px;
}